aside .colorGroup ul .claret {
    background: #6c1817;
    color: #ffffff;
}
aside .colorGroup ul .gold {
    background: #fff4ca;
    color: #000000;
}
aside .colorGroup ul .gray {
    background: #d9d9d9;
    color: #000000;
}
aside .colorGroup ul .green {
    background: #107f8a;
    color: #ffffff;
}
aside .colorGroup ul .pink {
    background: #fc7e6f;
    color: #ffffff;
}
aside .colorGroup ul .red {
    background: linear-gradient(to right, #bf0014 0%, #880002 100%);
    color: #ffffff;
}
aside .colorGroup ul .blue {
    background: #415556;
    color: #ffffff;
}
aside .colorGroup ul .purple-gray {
    background: linear-gradient(to top, #fd4cc1 0%, #a61052 55%, #640128 100%);
    color: #ffffff;
}
aside .colorGroup ul .purple-red {
    background: linear-gradient(to right, #ff0000 0%, #4f01ff 100%);
    color: #ffffff;
}
aside .colorGroup ul .yellow-blue {
    background: #f2b11a;
    color: #ffffff;
}
aside .colorGroup ul .purple-blue {
    background: #7526a6;
    color: #ffffff;
}
aside .colorGroup ul .purple {
    background: linear-gradient(to right, #c696f7 0%, #5f97ff 100%);
    color: #ffffff;
}
aside .colorGroup ul .orange-gray {
    background: #f89720;
    color: #ffffff;
}
aside .colorGroup ul .orange-blue {
    background: linear-gradient(to left, #ff3300 0%, #fdaa59 100%);
    color: #ffffff;
}
aside .colorGroup ul .blue-skin {
    background: #1e4f75;
    color: #ffffff;
}
aside .colorGroup ul .blue-gold {
    background: linear-gradient(to right, #0a0e29 0%, #2494a2 100%);
    color: #ffffff;
}
aside .colorGroup ul .orange-gold {
    background: #ff6c2a;
    color: #ffffff;
}
aside .colorGroup ul .orange-green {
    background: #a93319;
    color: #ffffff;
}



