aside .colorGroup ul .claret {
    background: #6c1817;
    color: #ffffff;
}
aside .colorGroup ul .gold {
    background: #fff4ca;
    color: #000000;
}
aside .colorGroup ul .gray {
    background: #d9d9d9;
    color: #000000;
}
aside .colorGroup ul .green {
    background: #107f8a;
    color: #ffffff;
}
aside .colorGroup ul .pink {
    background: #fc7e6f;
    color: #ffffff;
}
aside .colorGroup ul .red {
    background: linear-gradient(to right, #bf0014 0%, #880002 100%);
    color: #ffffff;
}
aside .colorGroup ul .blue {
    background: #415556;
    color: #ffffff;
}