footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;

    .footerGroup {
        width: 100%;
        height: 18vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        li {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5vw;
            cursor: pointer;

            .point {
                position: relative;

                &::after {
                    content: "";
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    position: absolute;
                    top: -1.5vw;
                    right: -1.8vw;
                }
            }

            p {
                font-size: 0.75rem;
                // color: $mainColor_1;
            }
            svg {
                width: 6vw;
                height: 6vw;
                margin-bottom: 1vw;
                position: relative;
            }
        }
    }
}