//header
header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .top {
        width: 100%;
        height: pxTovw(130);
        // background: $mainBg_1;
        border-radius: 0 0 pxTovw(40) pxTovw(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
        // box-shadow: 0.2vw 0.2vw 2vw 0.5vw $boxshadow_1;

        li {
            width: auto;
            height: auto;
            display: inline-block;
            cursor: pointer;
            
            //選單
            &.menuGroup {
                width: auto;
                height: auto;
                
                .line {
                    width: 5vw;
                    height: 5vw;
                    cursor: pointer;
                    display: block;
                    padding: 16px;
                    position: relative;
                    // color: $mainColor_1;

                    .menu {
                        display: block;
                        height: 0.8vw;
                        width: 5vw;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        // transition: background ease .3s, top ease .3s .3s, transform ease .3s;

                        &::before {
                            content: '';
                            height: 0.8vw;
                            width: 5vw;
                            position: absolute;
                            top: -1.5vw;
                            left: 0;
                        }

                        &::after {
                            content: '';
                            height: 0.8vw;
                            width: 5vw;
                            position: absolute;
                            top: 1.5vw;
                            left: 0;
                        }
                    }

                }
            }

            //logo
            &.logo {
                width: auto;
                height: auto;

                p {
                    font-size: pxTorem(25);
                    // color: $mainColor_1;
                    
                }
            }

            //訊息
            &.circular {
                width: auto;
                height: auto;
                position: relative;

                &::after {
                    content: "";
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    position: absolute;
                    top: -1.5vw;
                    right: -1.8vw;
                }

                .message_svg {
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
    }
}