.home .flexGroup .hotBtn i {
    background: url("../img/hot_ic.png") no-repeat center;
    background-size: contain;
}
.home .walletGroup .id .vip i {
    background: url("../img/vip.png") no-repeat center;
    background-size: contain;
}



