.home .flexGroup .marqueeGroup {
  background: -webkit-gradient(linear, left top, right top, from(#fff6d8), color-stop(39%, #faebbf), color-stop(68%, #dcc691), to(#fffae0));
  background: linear-gradient(to right, #fff6d8 0%, #faebbf 39%, #dcc691 68%, #fffae0 100%);
  border-radius: 2vw;
  border: 0.2vw solid #fff6d8;
  -webkit-box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgba(0, 0, 0, 0.5);
          box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgba(0, 0, 0, 0.5);
}
.home .flexGroup .marqueeGroup .marquee_ic {
  width: 5vw;
  height: 5vw;
  margin: 0 1.5vw;
}
.home .flexGroup .marqueeGroup .marquee {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home .flexGroup .marqueeGroup .marquee p {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 100%;
  white-space: nowrap;
  color: #415556;
  -webkit-animation: marquee 10s linear 0s infinite;
          animation: marquee 10s linear 0s infinite;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.home .flexGroup .hotBtn {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#2ecfdd), color-stop(87%, #00126c));
  background: linear-gradient(to right, #2ecfdd 0%, #00126c 87%);
  border: 0.2vw solid #054188;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .moneyGroup .walletGroup .id .vip {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#2ecfdd), color-stop(87%, #00126c));
  background: linear-gradient(to right, #2ecfdd 0%, #00126c 87%);
  border: 0.2vw solid #246fcb;
  border-radius: 1vw;
}

html aside .colorGroup {
  background: -webkit-gradient(linear, left top, right top, from(#440204), to(#93000b));
  background: linear-gradient(to right, #440204 0%, #93000b 100%);
  -webkit-box-shadow: 0.1vw 0.1vw 2vw 0.1vw #818181;
          box-shadow: 0.1vw 0.1vw 2vw 0.1vw #818181;
}

html aside .colorGroup span {
  color: #fff7de;
}

header .top {
  background: -webkit-gradient(linear, left top, right top, from(#440204), to(#93000b));
  background: linear-gradient(to right, #440204 0%, #93000b 100%);
  -webkit-box-shadow: 0.2vw 0.2vw 2vw 0.5vw #818181;
          box-shadow: 0.2vw 0.2vw 2vw 0.5vw #818181;
}

header .top .menu p {
  color: #fff1c8;
}

header .top .logo p {
  color: #fff1c8;
}

.home .moneyGroup .walletGroup .id p {
  color: #c30d21;
}

.home .moneyGroup .walletGroup .money p {
  color: #620003;
}

.home .moneyGroup .walletGroup .money i {
  color: #620003;
  border: 0.5vw solid #620003;
}

.home .moneyGroup .transaction li p {
  color: #620003;
}

.home .mainGroup .market ul li {
  border: 0.3vw solid #450204;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffbfa5), to(#fff9f6));
  background: linear-gradient(to top, #ffbfa5 0%, #fff9f6 100%);
}

.home .mainGroup .market ul .active {
  background: -webkit-gradient(linear, left bottom, left top, from(#440204), to(#c51a2d));
  background: linear-gradient(to top, #440204 0%, #c51a2d 100%);
}

.home .mainGroup .market ul .active::after {
  background: -webkit-gradient(linear, left top, right top, from(#fcf4db), color-stop(39%, #fff1c9), color-stop(68%, #ddcb9f), to(#fff8e0));
  background: linear-gradient(to right, #fcf4db 0%, #fff1c9 39%, #ddcb9f 68%, #fff8e0 100%);
  -webkit-box-shadow: 0 0 2vw 0 #818181;
          box-shadow: 0 0 2vw 0 #818181;
}

.home .mainGroup .market ul li p {
  color: #fff7de;
}

.home .mainGroup .market ul li span {
  color: #b30a33;
}

.home .mainGroup .market ul li em {
  color: #ae0013;
}

.home .mainGroup .gameGroup .gameItem .gameBox {
  background: #ffffff;
  border: 0.3vw solid #450204;
  -webkit-box-shadow: 0vw 0vw 1vw 0vw #818181;
          box-shadow: 0vw 0vw 1vw 0vw #818181;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
  background: -webkit-gradient(linear, left bottom, left top, from(#d31025), color-stop(53%, #65090c), to(#440204));
  background: linear-gradient(to top, #d31025 0%, #65090c 53%, #440204 100%);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
  background: #dadada;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
  background: #ffffff;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
  color: #212121;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
  color: #000d3f;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
  color: #982d38;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
  color: #595959;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
  color: #2b0002;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
  color: #ff6112;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
  color: #484848;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
  color: #04abce;
}

footer .footerGroup li p {
  color: #fff1c8;
}

body .bg {
  background: url("../img/red/bgRed.jpg") no-repeat center;
  background-size: cover;
}

header .top .circular i {
  background: url("../img/red/circularRed.png") no-repeat center;
  background-size: contain;
}

.home .banner {
  background: url("../img/red/bannerRed.png") no-repeat center;
  background-size: contain;
}

.home .flexGroup .marqueeGroup .marquee_ic {
  background: url("../img/red/marqueeIcRed.png") no-repeat center;
  background-size: contain;
}

.home .moneyGroup .transaction li i {
  background: url("../img/red/walletIcRed.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup li i {
  background: url("../img/red/footerIcRed.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup {
  background: url("../img/red/footbgRed.png") no-repeat center;
  background-size: cover;
}

.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
  background: url("../img/red/trianglelRed.png") no-repeat center;
  background-size: contain;
}

.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
  background: url("../img/red/trianglrlRed.png") no-repeat center;
  background-size: contain;
}

.home .flexGroup .hotBtn i {
  background: url("../img/red/hot_ic.png") no-repeat center;
  background-size: contain;
}

.home .walletGroup .id .vip i {
  background: url("../img/red/vip.png") no-repeat center;
  background-size: contain;
}