//header
$mainBg_1: linear-gradient(to right, #db1048 0%, #8c062b 100%);

//左側 市場列表
$boxBG_1: linear-gradient(to bottom, #fd8270 0%, #da104a 100%);
$boxBG_2: #ffffff;
$mainColor_4: #429693;
$mainColor_5: #ffffff;
$mainColor_6: #b30a33;
$activeColor_1: #a3002c;

//三角
$ballColor_1:linear-gradient(to top, #ececec 0%, #ffffff 100%);
$triangleColor_1: #5bb0af;

//header + footer
$mainColor_1: #ffffff;
//wallet
$mainColor_2: #db1048;
$mainColor_3: #aa002f;

//user
$userColor_1: #c30d21;

//比賽
$gameBg_1: #ffffff;

//日期
$subColor_1: #52c5c2;
//場次編號
$subColor_2: #838383;
//隊伍
$teamColor_1: #8c062b;
//主場
$subColor_3: #3919ff;
//VS
$subColor_4: #3f3f3f;
//聯賽
$subColor_5: #ffb400;

//邊框線
$borderColor_1: #d10f45;

$boxshadow_1: #818181;

//成交量
$turnoverBg_1: linear-gradient(to top, #a9002f 0%, #f2424f 55%, #e01e53 100%);
$turnoverBg_2: #ffffff;
$turnoverBg_3: #52c5c2;
$turnoverColor_1: #b40a33;
$turnoverColor_2: #595959;

//marquee
@mixin marqueeStyle {
    background: #ffffff;
    border-radius: 2vw;
    border: 0.2vw solid #b20832;
    box-shadow:0.1vw 0.1vw 3vw 0.1vw rgba(0, 0, 0, 0.5);

    .marquee_ic{
        width: 5vw;
        height: 5vw;
        margin: 0 1.5vw;
    }

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        p {
            display: inline-block;
            font-size: 0.8rem;
            font-weight: bold;
            padding-left: 100%;
            white-space: nowrap;
            color: #b20832;
            animation: marquee 10s linear 0s infinite;
        }
    }
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
.home .flexGroup .marqueeGroup {
    @include marqueeStyle;
}


//熱門賽事
@mixin hotbtn {
    color: #ffffff;
    background: linear-gradient(to right, #0daeaa 0%, #01655d 99%);
    border: 0.2vw solid #01665e;
    border-radius: 2vw;
    display: flex;
}
.home .flexGroup .hotBtn {
    @include hotbtn;
}

//VIP
@mixin vipbtn {
    color: #ffffff;
    background: linear-gradient(to right, #0daeaa 0%, #01655d 99%);
    border: 0.2vw solid #01665e;
    border-radius: 1vw;
}
.home .moneyGroup .walletGroup .id .vip {
    @include vipbtn;
}

//顏色

//aside
html aside .colorGroup {
    background: $mainBg_1;
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw $boxshadow_1;
}
html aside .colorGroup span {
    color: $mainColor_5;
}

//header
header .top {
    background: $mainBg_1;
    box-shadow: 0.2vw 0.2vw 2vw 0.5vw $boxshadow_1;
}
header .top .menu p {
    color: $mainColor_1;
} 
header .top .logo p {
    color: $mainColor_1;
}

//home
.home .moneyGroup .walletGroup .id p {
    color: $userColor_1;
}
.home .moneyGroup .walletGroup .money p {
    color: $mainColor_3
}
.home .moneyGroup .walletGroup .money i {
    color: $mainColor_3;
    border: 0.5vw solid $mainColor_3;
}
.home .moneyGroup .transaction li p {
    color: $mainColor_2;
}
.home .mainGroup .market ul li {
    border: 0.3vw solid $borderColor_1;
    background: $boxBG_2;
}
.home .mainGroup .market ul .active {
    background: $boxBG_1;
}
.home .mainGroup .market ul .active::after {
    background: $activeColor_1;
    box-shadow: 0 0 2vw 0 $boxshadow_1;
}
.home .mainGroup .market ul li p {
    color: $mainColor_5;
}
.home .mainGroup .market ul li span {
    color: $mainColor_6;
}
.home .mainGroup .market ul li em {
    color: $mainColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox {
    background: $gameBg_1;
    border: 0.3vw solid $borderColor_1;
    box-shadow: 0vw 0vw 1vw 0vw $boxshadow_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
    background: $turnoverBg_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
    background: $turnoverBg_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
    background: $turnoverBg_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
    color: $turnoverColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
    color: $turnoverColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
    color: $subColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
    color: $subColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
    color: $teamColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
    color: $subColor_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
    color: $subColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
    color: $subColor_5;
}

//footer
footer .footerGroup li p {
    color: $mainColor_1;
}

//圖片

//背景圖
body .bg{
    background: url("../img/pink/bgPink.jpg") no-repeat center;
    background-size: cover;
}
//header訊息通知
header .top .circular i {
    background: url("../img/pink/circularPink.png") no-repeat center;
    background-size: contain;
}
//banner
.home .banner {
    background: url("../img/pink/bannerPink.png") no-repeat center;
    background-size: contain;
}
//marquee icon
.home .flexGroup .marqueeGroup .marquee_ic {
    background: url("../img/pink/marqueeIcPink.png") no-repeat center;
    background-size: contain;
}
//儲值 icon 90px
.home .moneyGroup .transaction li i {
    background: url("../img/pink/walletIcPink.png") no-repeat;
    background-size: 500%;
}
//footer icon 60px
footer .footerGroup li i {
    background: url("../img/pink/footerIcPink.png") no-repeat;
    background-size: 500%;
}
//footer 背景
footer .footerGroup{
    background: url("../img/pink/footbgPink.png") no-repeat center;
    background-size: cover;
}
//三角
.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
    background: url("../img/pink/trianglelPink.png") no-repeat center;
    background-size: contain;
}
.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
    background: url("../img/pink/trianglerPink.png") no-repeat center;
    background-size: contain;
}

.home .flexGroup .hotBtn i {
    background: url("../img/pink/hotIcPink.png") no-repeat center;
    background-size: contain;
}
.home .walletGroup .id .vip i {
    background: url("../img/pink/vipPink.png") no-repeat center;
    background-size: contain;
}
