//header
$mainBg_1: #281600;

//左側 市場列表
$boxBG_1: #301a00;
$boxBG_2: linear-gradient(to right, #fff7dd 0%, #fff4ca 60%, #ddcb9f 100%);
$mainColor_4: #633d00;
$mainColor_5: #ffffff;
$mainColor_6: #291300;
$activeColor_1: linear-gradient(to right, #fcf4db 0%, #fff1c9 39%, #ddcb9f 68%, #fff8e0 100%);

//三角
$ballColor_1: linear-gradient(to top, #ececec 0%, #ffffff 100%);
$triangleColor_1: #5bb0af;

//header + footer
$mainColor_1: #fff1c8;
//wallet
$mainColor_2: #fef4d7;
$mainColor_3: #ffffff;

//user
$userColor_1: #fffe30;

//比賽
$gameBg_1: linear-gradient(to top, #fffbee 0%,#fffae4 60%, #f2deae 100%);

//日期
$subColor_1: #8b443a;
//場次編號
$subColor_2: #643612;
//隊伍
$teamColor_1: #2e1d00;
//主場
$subColor_3: #7f5b00;
//VS
$subColor_4: #004ae0;
//聯賽
$subColor_5: #f05a00;

//邊框線
$borderColor_1: #fdf4d9;

$boxshadow_1: #00000060;

//成交量
$turnoverBg_1: linear-gradient(to top, #e0a930 0%, #672e00 48%, #281600 100%);
$turnoverBg_2: linear-gradient(to top, #fffbee 0%, #fffae4 60%, #f2deae 100%);
$turnoverBg_3: #e1d2ae;
$turnoverColor_1: #0a0a0a;
$turnoverColor_2: #291700;

//訊息提醒 8/28
$subColor_6: #f05a00;

//marquee
@mixin marqueeStyle {
    background: #ffffff;
    border-radius: 2vw;
    box-shadow:0.1vw 0.1vw 3vw 0.1vw rgb(22, 22, 22);
    // border: 0.5vw solid #415556;

    .marquee_ic{
        width: 5vw;
        height: 5vw;
        margin: 0 1.5vw;
    }

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        p {
            display: inline-block;
            font-size: 0.8rem;
            font-weight: bold;
            padding-left: 100%;
            white-space: nowrap;
            color: #311700;
            animation: marquee 10s linear 0s infinite;
        }
    }
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
        
    }
}
.home .flexGroup .marqueeGroup {
    @include marqueeStyle;
}

//熱門賽事
@mixin hotbtn {
    color: #ffffff;
    background: linear-gradient(to right, #2ecfdd 0%, #0c5986 87%);
    border: 0.2vw solid #35e0fa;
    border-radius: 2vw;
    display: flex;
}
.home .flexGroup .hotBtn {
    @include hotbtn;
}

//VIP
@mixin vipbtn {
    color: #ffffff;
    background: linear-gradient(to right, #2ecfdd 0%, #0c5986 87%);
    border: 0.2vw solid #35e0fa;
    border-radius: 1vw;
}
.home .moneyGroup .walletGroup .id .vip {
    @include vipbtn;
}


//顏色

//aside
html aside .colorGroup button {
    background: $mainBg_1;
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw $boxshadow_1;
}
html aside .colorGroup span {
    color: $mainColor_5;
}


//header
header .top {
    background: $mainBg_1;
    box-shadow: 0.2vw 0.2vw 2vw 0.5vw $boxshadow_1;
}
header .top .circular::after {
    background: $subColor_6;
}
header .top .menuGroup .line .menu {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::before {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::after {
    background: $mainColor_1;
} 
header .top .logo p {
    color: $mainColor_1;
}

//home
.home .moneyGroup .walletGroup .id p {
    color: $userColor_1;
}
.home .moneyGroup .walletGroup .money p {
    color: $mainColor_3
}
.home .moneyGroup .walletGroup .money i {
    color: $mainColor_3;
    border: 0.5vw solid $mainColor_3;
}
.home .moneyGroup .transaction li p {
    color: $mainColor_2;
}
.home .mainGroup .market ul li {
    border: 0.3vw solid $borderColor_1;
    background: $boxBG_2;
}
.home .mainGroup .market ul .active {
    background: $boxBG_1;
}
.home .mainGroup .market ul .active::after {
    background: $activeColor_1;
    box-shadow: 0 0 2vw 0 $boxshadow_1;
}
.home .mainGroup .market ul li p {
    color: $mainColor_5;
}
.home .mainGroup .market ul li span {
    color: $mainColor_6;
}
.home .mainGroup .market ul li em {
    color: $mainColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox {
    background: $gameBg_1;
    border: 0.3vw solid $borderColor_1;
    box-shadow: 0vw 0vw 1vw 0vw $boxshadow_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
    background: $turnoverBg_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
    background: $turnoverBg_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
    background: $turnoverBg_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
    color: $turnoverColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
    color: $turnoverColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
    color: $subColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
    color: $subColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
    color: $teamColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
    color: $subColor_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
    color: $subColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
    color: $subColor_5;
}

//footer
footer .footerGroup li p {
    color: $mainColor_1;
}
footer .footerGroup li .personal::after {
    background: $subColor_6;
}

//圖片

//背景圖
body .bg{
    background: url("../img/gold/bg.jpg") no-repeat center;
    background-size: cover;
}
//banner
.home .banner {
    background: url("../img/gold/banner.png") no-repeat center;
    background-size: contain;
}
//儲值 icon 90px
.home .moneyGroup .transaction li i {
    background: url("../img/gold/wallet_ic.png") no-repeat;
    background-size: 500%;
}
//footer 背景
footer .footerGroup{
    background: url("../img/gold/footbg.png") no-repeat center;
    background-size: cover;
}
//三角
.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
    background: url("../img/gold/trianglel.png") no-repeat center;
    background-size: contain;
}
.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
    background: url("../img/gold/triangler.png") no-repeat center;
    background-size: contain;
}


svg {

    &.message_svg {
        
        .cls-1 {
            fill: none;
            stroke: #fff1c8;
            stroke-miterlimit: 10;
            stroke-width: 3px;
        }
        .cls-2{
            fill: #fff1c8;
        }
    }
    &.speaker_svg {
        width: 5vw;
        height: 5vw;
        margin: 0 1.5vw;

        .cls-1 {
            fill: #311700;
        }
    }

    &.hot_svg {
        width: 5vw;
        height: 5vw;
        transform: translateY(-0.3vw);

        .cls-1 {
            fill: #ffffff;
        }
    }
    
    &.vip_svg {

        .cls-1 {
            fill: #ffffff
        }
    }

    &.home_svg,
    &.money_svg,
    &.details_svg,
    &.history_svg,
    &.member_svg {
        width: 5vw;
        height: 5vw;
        margin-bottom: 1vw;
        position: relative;

        .cls-1 {
            fill: #fff1c8;
        }

        .cls-2 {
            fill: #fff1c8;
        }

        .cls-3 {
            fill: none;
            stroke: #fff1c8;
        }
    }

    &.money_svg {
        .cls-1 {
            stroke: #fff1c8;
            stroke-miterlimit: 10;
            stroke-width: .5px;
        }
    }
}

.point {
    position: relative;

    &::after {
        content: "";
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        position: absolute;
        top: -1.5vw;
        right: -1.8vw;
        background: #ea6300;
    }
}

html body footer .footerGroup li {

    &:hover,
    &:active,
    &.active {
        >p {
            color: #fff1c8;
        }

        svg {
            .cls-1 {
                fill: #fff1c8;
                stroke: none;
            }

            .cls-2 {
                fill: #fff1c8;
            }

            .cls-3 {
                fill: #fff1c8;
                stroke: none;
            }
        }
    }
}
