.home .flexGroup .marqueeGroup {
  background: #ffffff;
  border-radius: 2vw;
  border: 0.2vw solid #b20832;
  -webkit-box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgba(0, 0, 0, 0.5);
          box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgba(0, 0, 0, 0.5);
}
.home .flexGroup .marqueeGroup .marquee_ic {
  width: 5vw;
  height: 5vw;
  margin: 0 1.5vw;
}
.home .flexGroup .marqueeGroup .marquee {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home .flexGroup .marqueeGroup .marquee p {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 100%;
  white-space: nowrap;
  color: #b20832;
  -webkit-animation: marquee 10s linear 0s infinite;
          animation: marquee 10s linear 0s infinite;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.home .flexGroup .hotBtn {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#0daeaa), color-stop(99%, #01655d));
  background: linear-gradient(to right, #0daeaa 0%, #01655d 99%);
  border: 0.2vw solid #01665e;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .moneyGroup .walletGroup .id .vip {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#0daeaa), color-stop(99%, #01655d));
  background: linear-gradient(to right, #0daeaa 0%, #01655d 99%);
  border: 0.2vw solid #01665e;
  border-radius: 1vw;
}

html aside .colorGroup button {
  background: -webkit-gradient(linear, left top, right top, from(#db1048), to(#8c062b));
  background: linear-gradient(to right, #db1048 0%, #8c062b 100%);
  -webkit-box-shadow: 0.1vw 0.1vw 2vw 0.1vw #818181;
          box-shadow: 0.1vw 0.1vw 2vw 0.1vw #818181;
}

html aside .colorGroup span {
  color: #ffffff;
}

header .top {
  background: -webkit-gradient(linear, left top, right top, from(#db1048), to(#8c062b));
  background: linear-gradient(to right, #db1048 0%, #8c062b 100%);
  -webkit-box-shadow: 0.2vw 0.2vw 2vw 0.5vw #818181;
          box-shadow: 0.2vw 0.2vw 2vw 0.5vw #818181;
}

header .top .circular::after {
  background: #ffb400;
}

header .top .menuGroup .line .menu {
  background: #ffffff;
}

header .top .menuGroup .line .menu::before {
  background: #ffffff;
}

header .top .menuGroup .line .menu::after {
  background: #ffffff;
}

header .top .logo p {
  color: #ffffff;
}

.home .moneyGroup .walletGroup .id p {
  color: #c30d21;
}

.home .moneyGroup .walletGroup .money p {
  color: #aa002f;
}

.home .moneyGroup .walletGroup .money i {
  color: #aa002f;
  border: 0.5vw solid #aa002f;
}

.home .moneyGroup .transaction li p {
  color: #db1048;
}

.home .mainGroup .market ul li {
  border: 0.3vw solid #d10f45;
  background: #ffffff;
}

.home .mainGroup .market ul .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd8270), to(#da104a));
  background: linear-gradient(to bottom, #fd8270 0%, #da104a 100%);
}

.home .mainGroup .market ul .active::after {
  background: #a3002c;
  -webkit-box-shadow: 0 0 2vw 0 #818181;
          box-shadow: 0 0 2vw 0 #818181;
}

.home .mainGroup .market ul li p {
  color: #ffffff;
}

.home .mainGroup .market ul li span {
  color: #b30a33;
}

.home .mainGroup .market ul li em {
  color: #429693;
}

.home .mainGroup .gameGroup .gameItem .gameBox {
  background: #ffffff;
  border: 0.3vw solid #d10f45;
  -webkit-box-shadow: 0vw 0vw 1vw 0vw #818181;
          box-shadow: 0vw 0vw 1vw 0vw #818181;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a9002f), color-stop(55%, #f2424f), to(#e01e53));
  background: linear-gradient(to top, #a9002f 0%, #f2424f 55%, #e01e53 100%);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
  background: #52c5c2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
  background: #ffffff;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
  color: #b40a33;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
  color: #595959;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
  color: #52c5c2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
  color: #838383;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
  color: #8c062b;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
  color: #3919ff;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
  color: #3f3f3f;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
  color: #ffb400;
}

footer .footerGroup li p {
  color: #ffffff;
}

footer .footerGroup li .personal::after {
  background: #ffb400;
}

body .bg {
  background: url("../img/pink/bg.jpg") no-repeat center;
  background-size: cover;
}

.home .banner {
  background: url("../img/pink/banner.png") no-repeat center;
  background-size: contain;
}

.home .moneyGroup .transaction li i {
  background: url("../img/pink/walletIc.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup {
  background: url("../img/pink/footbg.png") no-repeat center;
  background-size: cover;
}

.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
  background: url("../img/pink/trianglel.png") no-repeat center;
  background-size: contain;
}

.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
  background: url("../img/pink/triangler.png") no-repeat center;
  background-size: contain;
}

svg.message_svg .cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
svg.message_svg .cls-2 {
  fill: #ffffff;
}
svg.speaker_svg {
  width: 5vw;
  height: 5vw;
  margin: 0 1.5vw;
}
svg.speaker_svg .cls-1 {
  fill: url("#Gradient1");
}
svg.speaker_svg .stop1 {
  stop-color: #a50330;
}
svg.speaker_svg .stop3 {
  stop-color: #d10e43;
}
svg.hot_svg {
  width: 5vw;
  height: 5vw;
  -webkit-transform: translateY(-0.3vw);
          transform: translateY(-0.3vw);
}
svg.hot_svg .cls-1 {
  fill: #ffffff;
}
svg.vip_svg .cls-1 {
  fill: #ffffff;
}
svg.home_svg, svg.money_svg, svg.details_svg, svg.history_svg, svg.member_svg {
  width: 5vw;
  height: 5vw;
  margin-bottom: 1vw;
  position: relative;
}
svg.home_svg .cls-1, svg.money_svg .cls-1, svg.details_svg .cls-1, svg.history_svg .cls-1, svg.member_svg .cls-1 {
  fill: #ffffff;
}
svg.home_svg .cls-2, svg.money_svg .cls-2, svg.details_svg .cls-2, svg.history_svg .cls-2, svg.member_svg .cls-2 {
  fill: #ffffff;
}
svg.home_svg .cls-3, svg.money_svg .cls-3, svg.details_svg .cls-3, svg.history_svg .cls-3, svg.member_svg .cls-3 {
  fill: none;
  stroke: #ffffff;
}
svg.money_svg .cls-1 {
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.point {
  position: relative;
}
.point::after {
  content: "";
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: absolute;
  top: -1.5vw;
  right: -1.8vw;
  background: #ffb400;
}

html body footer .footerGroup li:hover > p, html body footer .footerGroup li:active > p, html body footer .footerGroup li.active > p {
  color: #ffffff;
}
html body footer .footerGroup li:hover svg .cls-1, html body footer .footerGroup li:active svg .cls-1, html body footer .footerGroup li.active svg .cls-1 {
  fill: #ffffff;
  stroke: none;
}
html body footer .footerGroup li:hover svg .cls-2, html body footer .footerGroup li:active svg .cls-2, html body footer .footerGroup li.active svg .cls-2 {
  fill: #ffffff;
}
html body footer .footerGroup li:hover svg .cls-3, html body footer .footerGroup li:active svg .cls-3, html body footer .footerGroup li.active svg .cls-3 {
  fill: #ffffff;
  stroke: none;
}