//header
$mainBg_1: #415556;


//左側 市場列表
$boxBG_1: linear-gradient(to top, #568f8f 0%, #5cc3c2 100%);
$boxBG_2: #ffffff;
$mainColor_4: #11dfdd;
$mainColor_5: #ffffff;
$mainColor_6: #415556;
$activeColor_1: #006866;

//三角
$ballColor_1:linear-gradient(to top, #ececec 0%, #ffffff 100%);
$triangleColor_1: #5bb0af;

//header + footer
$mainColor_1: #ffffff;
//wallet
$mainColor_2: #0092a0;
$mainColor_3: #415556; 

//user
$userColor_1: #0092a0;

//比賽
$gameBg_1: #ffffff;

//日期
$subColor_1: #838383;
//場次編號
$subColor_2: #6bb0af;
//隊伍
$teamColor_1: #2a5254;
//主場
$subColor_3: #ff8a00;
//VS
$subColor_4: #004ae0;
//聯賽
$subColor_5: #ff7576;

//邊框線
$borderColor_1: #006766;

$boxshadow_1: #818181;

//成交量
$turnoverBg_1: linear-gradient(to bottom, #ff9495 0%, #e75459 100%);
$turnoverBg_2: #ffffff;
$turnoverBg_3: #637c7d;
$turnoverColor_1: #cc2427;
$turnoverColor_2: #415556;

//訊息提醒 8/28
$subColor_6: #ff7576;

//marquee
@mixin marqueeStyle {
    background: #ffffff;
    border-radius: 2vw;
    border: 0.3vw solid #415556;
    // box-shadow:0.1vw 0.1vw 3vw 0.1vw rgba(255, 255, 255, 0.5);

    .marquee_ic{
        width: 5vw;
        height: 5vw;
        margin: 0 1.5vw;
    }

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        p {
            display: inline-block;
            font-size: 0.8rem;
            font-weight: bold;
            padding-left: 100%;
            white-space: nowrap;
            color: #415556;
            animation: marquee 10s linear 0s infinite;
        }
    }
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.home .flexGroup .marqueeGroup {
    @include marqueeStyle;
}



//熱門賽事
@mixin hotbtn {
    color: #ffffff;
    background: linear-gradient(to right, #fc696e 0%, #c63a3e 84%);
    border: 0.3vw solid #e42729;
    border-radius: 2vw;
    display: flex;
}
.home .flexGroup .hotBtn {
    @include hotbtn;
}


//VIP
@mixin vipbtn {
    color: #ffffff;
    background: linear-gradient(to right, #ff8a00 0%, #ff8a00 84%);
    border: 0.3vw solid #ffffff;
    border-radius: 1vw;
}
.home .moneyGroup .walletGroup .id .vip {
    @include vipbtn;
}


//顏色

//aside
html aside .colorGroup button {
    background: $mainBg_1;
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw $boxshadow_1;
}
html aside .colorGroup span {
    color: $mainColor_5;
}


//header
header .top {
    background: $mainBg_1;
    box-shadow: 0.2vw 0.2vw 2vw 0.5vw $boxshadow_1;
}
header .top .circular::after {
    background: $subColor_6;
}
header .top .menuGroup .line .menu {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::before {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::after {
    background: $mainColor_1;
} 
header .top .logo p {
    color: $mainColor_1;
}

//home
.home .moneyGroup .walletGroup .id p {
    color: $userColor_1;
}
.home .moneyGroup .walletGroup .money p {
    color: $mainColor_3
}
.home .moneyGroup .walletGroup .money i {
    color: $mainColor_3;
    border: 0.5vw solid $mainColor_3;
}
.home .moneyGroup .transaction li p {
    color: $mainColor_2;
}
.home .mainGroup .market ul li {
    border: 0.3vw solid $borderColor_1;
    background: $boxBG_2;
}
.home .mainGroup .market ul .active {
    background: $boxBG_1;
}
.home .mainGroup .market ul .active::after {
    background: $activeColor_1;
    box-shadow: 0 0 2vw 0 $boxshadow_1;
}
.home .mainGroup .market ul li p {
    color: $mainColor_5;
}
.home .mainGroup .market ul li span {
    color: $mainColor_6;
}
.home .mainGroup .market ul li em {
    color: $mainColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox {
    background: $gameBg_1;
    border: 0.3vw solid $borderColor_1;
    box-shadow: 0vw 0vw 1vw 0vw $boxshadow_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
    background: $turnoverBg_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
    background: $turnoverBg_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
    background: $turnoverBg_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
    color: $turnoverColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
    color: $turnoverColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
    color: $subColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
    color: $subColor_2;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
    color: $teamColor_1;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
    color: $subColor_3;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
    color: $subColor_4;
}
.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
    color: $subColor_5;
}

//footer
footer .footerGroup li p {
    color: $mainColor_1;
}
footer .footerGroup li .personal::after {
    background: $subColor_6;
}


//圖片

//背景圖
body .bg{
    background: url("../img/blue/bg.png") no-repeat center;
    background-size: cover;
}
//banner
.home .banner {
    background: url("../img/blue/banner.png") no-repeat center;
    background-size: contain;
}
//儲值 icon 90px
.home .moneyGroup .transaction li i {
    background: url("../img/blue/wallet_ic.png") no-repeat;
    background-size: 500%;
}
//footer 背景
footer .footerGroup{
    background: url("../img//blue/footbg.png") no-repeat center;
    background-size: cover;
}
//三角
.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
    background: url("../img/blue/trianglel.png") no-repeat center;
    background-size: contain;
}
.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
    background: url("../img/blue/triangler.png") no-repeat center;
    background-size: contain;
}


svg {

    &.message_svg {

        .cls-1 {
            fill: none;
            stroke: #ffffff;
            stroke-miterlimit: 10;
            stroke-width: 3px;
        }
        .cls-2{
            fill: #ffffff;
        }
    }
    &.speaker_svg {
        width: 5vw;
        height: 5vw;
        margin: 0 1.5vw;

        .cls-1 {
            fill: #3d5d5f;
        }
    }

    &.hot_svg {
        width: 5vw;
        height: 5vw;
        transform: translateY(-0.3vw);

        .cls-1 {
            fill: #ffffff;
        }
    }
    &.vip_svg {

        .cls-1 {
            fill: #ffffff
        }
    }
    &.home_svg,
    &.money_svg,
    &.details_svg,
    &.history_svg,
    &.member_svg {
        width: 5vw;
        height: 5vw;
        margin-bottom: 1vw;
        position: relative;

        .cls-1 {
            fill: #ffffff;
        }

        .cls-2 {
            fill: #ffffff;
        }

        .cls-3 {
            fill: none;
            stroke: #ffffff;
        }
    }

    &.money_svg {
        .cls-1 {
            stroke: #ffffff;
            stroke-miterlimit: 10;
            stroke-width: .5px;
        }
    }
}

.point {
    position: relative;

    &::after {
        content: "";
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        position: absolute;
        top: -1.5vw;
        right: -1.8vw;
        background: #ff7576;
    }
}

html body footer .footerGroup li {

    &:hover,
    &:active,
    &.active {
        >p {
            color: #ffffff;;
        }

        svg {
            .cls-1 {
                fill: #ffffff;
                stroke: none;
            }

            .cls-2 {
                fill: #ffffff;
            }

            .cls-3 {
                fill: #ffffff;
                stroke: none;
            }
        }
    }
}
