.home .flexGroup .marqueeGroup {
  background: #ffffff;
  border-radius: 2vw;
  -webkit-box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgb(22, 22, 22);
          box-shadow: 0.1vw 0.1vw 3vw 0.1vw rgb(22, 22, 22);
}
.home .flexGroup .marqueeGroup .marquee_ic {
  width: 5vw;
  height: 5vw;
  margin: 0 1.5vw;
}
.home .flexGroup .marqueeGroup .marquee {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home .flexGroup .marqueeGroup .marquee p {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 100%;
  white-space: nowrap;
  color: #311700;
  -webkit-animation: marquee 10s linear 0s infinite;
          animation: marquee 10s linear 0s infinite;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.home .flexGroup .hotBtn {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#2ecfdd), color-stop(87%, #0c5986));
  background: linear-gradient(to right, #2ecfdd 0%, #0c5986 87%);
  border: 0.2vw solid #35e0fa;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .moneyGroup .walletGroup .id .vip {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#2ecfdd), color-stop(87%, #0c5986));
  background: linear-gradient(to right, #2ecfdd 0%, #0c5986 87%);
  border: 0.2vw solid #35e0fa;
  border-radius: 1vw;
}

html aside .colorGroup {
  background: #281600;
  -webkit-box-shadow: 0.1vw 0.1vw 2vw 0.1vw rgba(0, 0, 0, 0.3764705882);
          box-shadow: 0.1vw 0.1vw 2vw 0.1vw rgba(0, 0, 0, 0.3764705882);
}

html aside .colorGroup span {
  color: #ffffff;
}

header .top {
  background: #281600;
  -webkit-box-shadow: 0.2vw 0.2vw 2vw 0.5vw rgba(0, 0, 0, 0.3764705882);
          box-shadow: 0.2vw 0.2vw 2vw 0.5vw rgba(0, 0, 0, 0.3764705882);
}

header .top .menu p {
  color: #fff1c8;
}

header .top .logo p {
  color: #fff1c8;
}

.home .moneyGroup .walletGroup .id p {
  color: #fffe30;
}

.home .moneyGroup .walletGroup .money p {
  color: #ffffff;
}

.home .moneyGroup .walletGroup .money i {
  color: #ffffff;
  border: 0.5vw solid #ffffff;
}

.home .moneyGroup .transaction li p {
  color: #fef4d7;
}

.home .mainGroup .market ul li {
  border: 0.3vw solid #fdf4d9;
  background: -webkit-gradient(linear, left top, right top, from(#fff7dd), color-stop(60%, #fff4ca), to(#ddcb9f));
  background: linear-gradient(to right, #fff7dd 0%, #fff4ca 60%, #ddcb9f 100%);
}

.home .mainGroup .market ul .active {
  background: #301a00;
}

.home .mainGroup .market ul .active::after {
  background: -webkit-gradient(linear, left top, right top, from(#fcf4db), color-stop(39%, #fff1c9), color-stop(68%, #ddcb9f), to(#fff8e0));
  background: linear-gradient(to right, #fcf4db 0%, #fff1c9 39%, #ddcb9f 68%, #fff8e0 100%);
  -webkit-box-shadow: 0 0 2vw 0 rgba(0, 0, 0, 0.3764705882);
          box-shadow: 0 0 2vw 0 rgba(0, 0, 0, 0.3764705882);
}

.home .mainGroup .market ul li p {
  color: #ffffff;
}

.home .mainGroup .market ul li span {
  color: #291300;
}

.home .mainGroup .market ul li em {
  color: #633d00;
}

.home .mainGroup .gameGroup .gameItem .gameBox {
  background: -webkit-gradient(linear, left bottom, left top, from(#fffbee), color-stop(60%, #fffae4), to(#f2deae));
  background: linear-gradient(to top, #fffbee 0%, #fffae4 60%, #f2deae 100%);
  border: 0.3vw solid #fdf4d9;
  -webkit-box-shadow: 0vw 0vw 1vw 0vw rgba(0, 0, 0, 0.3764705882);
          box-shadow: 0vw 0vw 1vw 0vw rgba(0, 0, 0, 0.3764705882);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
  background: -webkit-gradient(linear, left bottom, left top, from(#e0a930), color-stop(48%, #672e00), to(#281600));
  background: linear-gradient(to top, #e0a930 0%, #672e00 48%, #281600 100%);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
  background: #e1d2ae;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
  background: -webkit-gradient(linear, left bottom, left top, from(#fffbee), color-stop(60%, #fffae4), to(#f2deae));
  background: linear-gradient(to top, #fffbee 0%, #fffae4 60%, #f2deae 100%);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
  color: #0a0a0a;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
  color: #291700;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
  color: #8b443a;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
  color: #643612;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
  color: #2e1d00;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
  color: #7f5b00;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
  color: #004ae0;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
  color: #f05a00;
}

footer .footerGroup li p {
  color: #fff1c8;
}

body .bg {
  background: url("../img/gold/bgG.jpg") no-repeat center;
  background-size: cover;
}

header .top .circular i {
  background: url("../img/gold/circularG.png") no-repeat center;
  background-size: contain;
}

.home .banner {
  background: url("../img/gold/bannerG.png") no-repeat center;
  background-size: contain;
}

.home .flexGroup .marqueeGroup .marquee_ic {
  background: url("../img/gold/marquee_icG.png") no-repeat center;
  background-size: contain;
}

.home .moneyGroup .transaction li i {
  background: url("../img/gold/wallet_icG.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup li i {
  background: url("../img/gold/footer_icG.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup {
  background: url("../img/gold/footbgG.png") no-repeat center;
  background-size: cover;
}

.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
  background: url("../img/gold/trianglelG.png") no-repeat center;
  background-size: contain;
}

.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
  background: url("../img/gold/trianglerG.png") no-repeat center;
  background-size: contain;
}

.home .walletGroup .id .vip i {
  background: url("../img/gold/vipG.png") no-repeat center;
  background-size: contain;
}

.home .flexGroup .hotBtn i {
  background: url("../img/gold/hoticG.png") no-repeat center;
  background-size: contain;
}