.home .flexGroup .marqueeGroup {
  background: #ffffff;
  border-radius: 2vw;
  border: 0.3vw solid #2b2763;
}
.home .flexGroup .marqueeGroup .marquee {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home .flexGroup .marqueeGroup .marquee p {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 100%;
  white-space: nowrap;
  color: #3d236a;
  -webkit-animation: marquee 10s linear 0s infinite;
          animation: marquee 10s linear 0s infinite;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.home .flexGroup .hotBtn {
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#2350c0), to(#6192ff));
  background: linear-gradient(to top, #2350c0 0%, #6192ff 100%);
  border: 0.3vw solid #163cff;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .moneyGroup .walletGroup .id .vip {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#00a04b), to(#19e198));
  background: linear-gradient(to left, #00a04b 0%, #19e198 100%);
  border: 0.3vw solid #08a66c;
  border-radius: 1vw;
}

aside .colorGroup button {
  background: -webkit-gradient(linear, left top, right top, from(#c696f7), to(#5f97ff));
  background: linear-gradient(to right, #c696f7 0%, #5f97ff 100%);
  -webkit-box-shadow: 0.1vw 0.1vw 2vw 0.1vw #292a8d;
          box-shadow: 0.1vw 0.1vw 2vw 0.1vw #292a8d;
}

aside .colorGroup span {
  color: #ffffff;
}

header .top {
  background: -webkit-gradient(linear, left top, right top, from(#c696f7), to(#5f97ff));
  background: linear-gradient(to right, #c696f7 0%, #5f97ff 100%);
  -webkit-box-shadow: 0.2vw 0.2vw 2vw 0.5vw #292a8d;
          box-shadow: 0.2vw 0.2vw 2vw 0.5vw #292a8d;
}

header .top .circular::after {
  background: #fee140;
}

header .top .menuGroup .line .menu {
  background: #ffffff;
}

header .top .menuGroup .line .menu::before {
  background: #ffffff;
}

header .top .menuGroup .line .menu::after {
  background: #ffffff;
}

header .top .logo p {
  color: #ffffff;
}

.home .moneyGroup .walletGroup .id p {
  color: #555555;
}

.home .moneyGroup .walletGroup .money p {
  color: #2452c3;
}

.home .moneyGroup .walletGroup .money i {
  color: #979797;
  border: 0.5vw solid #979797;
}

.home .moneyGroup .transaction li p {
  color: #2452c3;
}

.home .mainGroup .market ul li {
  border: 0.3vw solid #2e275b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #f6f2ff), to(#cad3ff));
  background: linear-gradient(to top, #f6f2ff 10%, #cad3ff 100%);
}

.home .mainGroup .market ul .active {
  background: -webkit-gradient(linear, left bottom, left top, from(#3879f3), to(#c68eff));
  background: linear-gradient(to top, #3879f3 0%, #c68eff 100%);
  border-color: #ffffff;
}

.home .mainGroup .market ul .active::after {
  background: #c8dbff;
  -webkit-box-shadow: 0 0 2vw 0 #292a8d;
          box-shadow: 0 0 2vw 0 #292a8d;
  border-bottom: solid 0.2vw #292a8d;
}

.home .mainGroup .market ul li p {
  color: #ffffff;
}

.home .mainGroup .market ul li span {
  color: #2006e5;
}

.home .mainGroup .market ul li em {
  color: #383838;
}

.home .mainGroup .gameGroup .gameItem .gameBox {
  background: #ffffff;
  border: 0.3vw solid #2e275b;
  -webkit-box-shadow: 0vw 0vw 1vw 0vw #292a8d;
          box-shadow: 0vw 0vw 1vw 0vw #292a8d;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
  background: -webkit-gradient(linear, left bottom, left top, from(#867eff), color-stop(50%, #867eff), to(#5148dc));
  background: linear-gradient(to top, #867eff 0%, #867eff 50%, #5148dc 100%);
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
  background: #d2d2d2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
  background: #ffffff;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
  color: #383838;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
  color: #2c6adf;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
  color: #838383;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
  color: #265fc8;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
  color: #323232;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
  color: #e2a500;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
  color: #004ae0;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
  color: #e62020;
}

footer .footerGroup li p {
  color: #ffffff;
}

footer .footerGroup li .point::after {
  background: #fee140;
}

body .bg {
  background: url("../img/purple/bg.png") no-repeat center;
  background-size: cover;
}

header .top .circular i {
  background: url("../img/purple/circular.png") no-repeat center;
  background-size: contain;
}

.home .banner {
  background: url("../img/purple/banner.png") no-repeat center;
  background-size: contain;
}

.home .moneyGroup .transaction li i {
  background: url("../img/purple/wallet_ic.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup li i {
  background: url("../img/purple/footer_ic.png") no-repeat;
  background-size: 500%;
}

footer .footerGroup {
  background: url("../img/purple/footbg.png") no-repeat center;
  background-size: cover;
}

.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
  background: url("../img/purple/trianglel.png") no-repeat center;
  background-size: contain;
}

.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
  background: url("../img/purple/triangler.png") no-repeat center;
  background-size: contain;
}

.home .walletGroup .id .vip i {
  background: url("../img/purple/vip.png") no-repeat center;
  background-size: contain;
}

html body .home .mainGroup .gameGroup .gameItem .gameBox .triangle {
  top: 0VW;
  left: 0vw;
}

html body .home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
  bottom: 0vw;
  right: 0vw;
}

html body .home .banner {
  width: 92%;
  height: 43vw;
  margin-top: 0;
}

svg.speaker_svg .cls-1 {
  fill: #3517cf;
}
svg.message_svg .cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
svg.message_svg .cls-2 {
  fill: #ffffff;
}
svg.hot_svg .cls-1 {
  fill: #ffffff;
}
svg.vip_svg .cls-1 {
  fill: #ffffff;
}
svg.home_svg .cls-1, svg.money_svg .cls-1, svg.details_svg .cls-1, svg.history_svg .cls-1, svg.member_svg .cls-1 {
  fill: #ffffff;
}
svg.home_svg .cls-2, svg.money_svg .cls-2, svg.details_svg .cls-2, svg.history_svg .cls-2, svg.member_svg .cls-2 {
  fill: #ffffff;
}
svg.home_svg .cls-3, svg.money_svg .cls-3, svg.details_svg .cls-3, svg.history_svg .cls-3, svg.member_svg .cls-3 {
  fill: #ffffff;
  stroke: #ffffff;
}
svg.money_svg .cls-1 {
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

html body footer .footerGroup li:hover > p, html body footer .footerGroup li:active > p, html body footer .footerGroup li.active > p {
  color: #2006e5;
}
html body footer .footerGroup li:hover svg .cls-1, html body footer .footerGroup li:active svg .cls-1, html body footer .footerGroup li.active svg .cls-1 {
  fill: #2006e5;
  stroke: none;
}
html body footer .footerGroup li:hover svg .cls-2, html body footer .footerGroup li:active svg .cls-2, html body footer .footerGroup li.active svg .cls-2 {
  fill: #2006e5;
}
html body footer .footerGroup li:hover svg .cls-3, html body footer .footerGroup li:active svg .cls-3, html body footer .footerGroup li.active svg .cls-3 {
  fill: #2006e5;
  stroke: none;
}
html body footer .footerGroup li:hover svg.money_svg .cls-1, html body footer .footerGroup li:active svg.money_svg .cls-1, html body footer .footerGroup li.active svg.money_svg .cls-1 {
  stroke: #2006e5;
}