//header
$mainBg_1: #a93319;

//左側 市場列表
$boxBG_1: linear-gradient(to top, #005d55 0%, #0fb9b6 100%);
$boxBG_2: #ffffff;
$mainColor_4: #f66a11;
$mainColor_5: #ffffff;
$mainColor_6: #9e2b00;
$activeColor_1: #f6cb5b;

//三角
$ballColor_1: linear-gradient(to top, #ececec 0%, #ffffff 100%);
$triangleColor_1: #5bb0af;

//header + footer
$mainColor_1: #ffffff;
//wallet
$mainColor_2: #ffffff;
$mainColor_3: #f8ca69;

//user
$userColor_1: #ffffff;

//比賽
$gameBg_1: #ffffff;

//日期
$subColor_1: #808080;
//場次編號
$subColor_2: #25a19f;
//隊伍
$teamColor_1: #a93319;
//主場
$subColor_3: #7347e2;
//VS
$subColor_4: #ee2b00;
//聯賽
$subColor_5: #00c7c2;

//邊框線
$borderColor_1: #912811;
$borderColor_2: #ffc87a;
$borderColor_3: #4c6689;

$boxshadow_1: #4c6689;

//成交量
$turnoverBg_1: linear-gradient(to top, #dd702d 0%, #e25500 43%, #a93319 100%);
$turnoverBg_2: #ffffff;
$turnoverBg_3: #b2b2b2;
$turnoverColor_1: #c15f24;
$turnoverColor_2: #444444;

//訊息提醒 8/28
$subColor_6: #0fbeb8;


//marquee
@mixin marqueeStyle {
    background: #ffffff;
    border-radius: 2vw;
    border: 0.3vw solid transparent;
    box-shadow:0.1vw 0.1vw 3vw 0.1vw #7fc5b0;

    .marquee {
        width: 100%;
        height: auto;
        overflow: hidden;

        p {
            display: inline-block;
            font-size: 0.8rem;
            font-weight: bold;
            padding-left: 100%;
            white-space: nowrap;
            color: #006058;
            animation: marquee 10s linear 0s infinite;
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }

    }
}

.home .flexGroup .marqueeGroup {
    @include marqueeStyle;
}



//熱門賽事
@mixin hotbtn {
    color: #ffffff;
    background: linear-gradient(to left, #df4400 0%, #a52b00 100%);
    border: 0.3vw solid #ffeadf;
    border-radius: 2vw;
    display: flex;
}

.home .flexGroup .hotBtn {
    @include hotbtn;
}

//VIP
@mixin vipbtn {
    color: #ffffff;
    background: linear-gradient(to right, #fad370 0%, #db4f01 100%);
    border: 0.3vw solid #c6420a;
    border-radius: 1vw;
}

.home .moneyGroup .walletGroup .id .vip {
    @include vipbtn;
}


//顏色

//aside
aside .colorGroup button {
    background: $mainBg_1;
    box-shadow: 0.1vw 0.1vw 2vw 0.1vw $boxshadow_1;
}

aside .colorGroup span {
    color: $mainColor_5;
}

//header
header .top {
    background: $mainBg_1;
    box-shadow: 0.2vw 0.2vw 2vw 0.5vw $boxshadow_1;
}

header .top .circular::after {
    background: $subColor_6;
}

header .top .menuGroup .line .menu {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::before {
    background: $mainColor_1;
} 
header .top .menuGroup .line .menu::after {
    background: $mainColor_1;
} 

header .top .logo p {
    color: $mainColor_5;
}

//home
.home .moneyGroup .walletGroup .id p {
    color: $userColor_1;
}

.home .moneyGroup .walletGroup .money p {
    color: $mainColor_2
}

.home .moneyGroup .walletGroup .money i {
    color: $mainColor_3;
    border: 0.5vw solid $mainColor_3;
}

.home .moneyGroup .transaction li p {
    color: $mainColor_3;
}

.home .mainGroup .market ul li {
    border: 0.3vw solid $borderColor_1;
    background: $boxBG_2;
}

.home .mainGroup .market ul .active {
    background: $boxBG_1;
    border-color: $borderColor_2;
}

.home .mainGroup .market ul .active::after {
    background: $activeColor_1;
    box-shadow: 0 0 2vw 0 $boxshadow_1;
    border-bottom: solid 0.2vw $borderColor_3;
}

.home .mainGroup .market ul li p {
    color: $mainColor_5;
}

.home .mainGroup .market ul li span {
    color: $mainColor_6;
}

.home .mainGroup .market ul li em {
    color: $mainColor_4;
}

.home .mainGroup .gameGroup .gameItem .gameBox {
    background: $gameBg_1;
    border: 0.3vw solid $borderColor_1;
    box-shadow: 0vw 0vw 1vw 0vw $boxshadow_1;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover {
    background: $turnoverBg_1;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::before {
    background: $turnoverBg_3;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover::after {
    background: $turnoverBg_2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover p {
    color: $turnoverColor_1;
}

.home .mainGroup .gameGroup .gameItem .gameBox .turnover span {
    color: $turnoverColor_2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day p {
    color: $subColor_1;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .day em {
    color: $subColor_2;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team p {
    color: $teamColor_1;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .team span {
    color: $subColor_3;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .teamGroup .vs {
    color: $subColor_4;
}

.home .mainGroup .gameGroup .gameItem .gameBox .date .gameName em {
    color: $subColor_5;
}

//footer
footer .footerGroup li p {
    color: $mainColor_5;
}

footer .footerGroup li .point::after {
    background: $subColor_6;
}

//圖片

//背景圖
body .bg {
    background: url("../img/orange-green/bg.png") no-repeat center;
    background-size: cover;
}

//header訊息通知
header .top .circular i {
    background: url("../img/orange-green/circular.png") no-repeat center;
    background-size: contain;
}

//banner
.home .banner {
    background: url("../img/orange-green/banner.png") no-repeat center;
    background-size: contain;
}

//儲值 icon 90px
.home .moneyGroup .transaction li i {
    background: url("../img/orange-green/wallet_ic.png") no-repeat;
    background-size: 500%;
}

//footer icon 60px
footer .footerGroup li i {
    background: url("../img/orange-green/footer_ic.png") no-repeat;
    background-size: 500%;
}

//footer 背景
footer .footerGroup {
    background: url("../img/orange-green/footbg.png") no-repeat center;
    background-size: cover;
}

//三角
.home .mainGroup .gameGroup .gameItem .gameBox .triangle {
    background: url("../img/orange-green/trianglel.png") no-repeat center;
    background-size: contain;
}

.home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
    background: url("../img/orange-green/triangler.png") no-repeat center;
    background-size: contain;
}


.home .walletGroup .id .vip i {
    background: url("../img/orange-green/vip.png") no-repeat center;
    background-size: contain;
}

// j add

html body .home .mainGroup .gameGroup .gameItem .gameBox .triangle {
    top: 0VW;
    left: 0vw;
}

html body .home .mainGroup .gameGroup .gameItem .gameBox .btTriangle {
    bottom: 0vw;
    right: 0vw;
}

html body .home .banner {
    width: 92%;
    height: 43vw;
    margin-top: 0;
}

//  j add
svg {
    &.speaker_svg {
        .cls-1 {
            fill: url("#Gradient1");
        }

        .stop1 {
            stop-color: #a93319;
        }

        .stop3 {
            stop-color: #cc6600;
        }
    }

    &.message_svg {
        .cls-1 {
            fill: none;
            stroke: #ffffff;
            stroke-miterlimit: 10;
            stroke-width: 3px;
        }

        .cls-2 {
            fill: #ffffff;
        }
    }

    &.hot_svg {
        .cls-1 {
            fill: #ffffff;
        }
    }

    &.vip_svg {
        .cls-1 {
            fill: #ffffff
        }
    }

    &.home_svg,
    &.money_svg,
    &.details_svg,
    &.history_svg,
    &.member_svg {
        .cls-1 {
            fill: #ffffff;
        }

        .cls-2 {
            fill: #ffffff;
        }

        .cls-3 {
            fill: #ffffff;
            stroke: #ffffff;
        }
    }

    &.money_svg {
        .cls-1 {
            stroke: #ffffff;
            stroke-miterlimit: 10;
            stroke-width: .5px;
        }
    }
}

html body footer .footerGroup li {

    &:hover,
    &:active,
    &.active {
        >p {
            color: #ffc427;
        }

        svg {
            .cls-1 {
                fill: #ffc427;
                stroke: none;
            }

            .cls-2 {
                fill: #ffc427;
            }

            .cls-3 {
                fill: #ffc427;
                stroke: #ffffff;
            }

            &.money_svg {
                .cls-1 {
                    stroke: #ffc427;
                }
            }
        }
    }
}